{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#post}}
          <section class="gh-content gh-canvas" style="margin-top: 0px;">
            {{content}}
          </section>
        {{/post}}
    </div>
</main>